.form-active{
    border:solid;
    margin-bottom: 100px;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.edit-Btn{
    display: none;
}


.inputField{
    margin-left: 10px;
    margin-right: 10px;
}
