.experience-form{
    margin-bottom: 100px;
    justify-content: center;
    display: flex;
    padding: 10px;
}

#blue{
    background-color: blue;
}

.inputField{
    margin-left: 10px;
    margin-right: 10px;
}